name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"  # Runs every 12 hours
  workflow_dispatch:        # Manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg
            dist/snake_dark.svg?palette=github-dark

      - name: Upload Snake files
        uses: actions/upload-artifact@v4
        with:
          name: snake-files
          path: dist/
      
      - name: Push Snake to output branch
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Generate Snake"
          branch: output
          file_pattern: dist/*
